<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-landing.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="/static/js/jquery.countdown.min.js"></script>

        <script type="text/javascript">
          $(function(){
            $('#instance').hide();
            $('#counter').countdown({
              until: '9',
              onExpiry: function(){ $("#instance").show(); $("#jcountdown").hide();},
              format: 'mm:ss'
            });
          });
        </script>

        <title>Your Redwood Instance Details</title>

    </head>

    <body>

        <div class="container-narrow">

            <!-- nav -->
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="https://lab41.github.io/Redwood/">Redwood</a></li>
                    <li><a href="https://docker.io">Docker</a></li>
                    {% if USERS and current_user.is_authenticated() %}
                      <li><a href="{{ url_for('profile') }}">Profile</a></li>
                      <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
                    {% elif USERS %}
                      <li><a href="{{ url_for('user.login') }}">Login</a></li>
                    {% endif %}
                </ul>
                {% if USERS and current_user.is_authenticated() %}
                    <h4 class="muted">Logged in as {{ current_user.username }}</h4>
                {% endif %}
                <h3 class="muted">Try Redwood</h3>
            </div>

            <hr>

            <div class="row-fluid marketing">
                <div class="span12 well">
                    <h4>Instance Details..</h4>
                    <p id="jcountdown">Your instance will be available in:</p>
                    <div id="counter"></div>
                    <p id="instance">Go now, your instance is waiting:
                        {% if SSL %}
                          <a href="https://{{ DOMAIN }}/redwood" target="_blank">https://{{ DOMAIN }}/redwood</a>
                        {% else %}
                          <a href="http://{{ url }}" target="_blank">{{ url }}</a>
                        {% endif %}
                    </p>
                    <p><br /><br /><br />Please note: this is a fully functional trial of Redwood. The instance is constrained to 50mb of space, and limited cpu/memory so as to prevent abuse. Due to such a high demand, your instance will not be guaranteed to exist for longer than 15 minutes.</p>
                    <p>If you'd like more information, please open an <a href="https://github.com/Lab41/try41/issues">issue</a>.</p>
                </div>
            </div>

        <div class="footer">
            <div class="container">
                <p class="muted credit">Origin based on <a href="https://github.com/keeb/any-saas">any-saas</a> by Nick Stinemates
            </div>
            <div class="container">
                <ul class="nav pull-right">
                    <li>&#169; 2014 In-Q-Tel. All rights reserved.</li>
                    <li><a href="https://www.lab41.org/terms-of-use/" target="_blank">Terms of Use</a></li>
                    <li><a href="https://www.lab41.org/privacy-policy/" target="_blank">Privacy Policy</a></li>
                </ul>
            </div>
        </div>



        </div> <!-- /container -->

</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40464073-2', 'lab41.org');
  ga('send', 'pageview');

</script>
