<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Lab41</title>

<!-- main JS libs -->
<script src="/static/js/libs/modernizr.min.js"></script>
<script src="/static/js/libs/jquery-1.10.0.js"></script>
<script src="/static/js/libs/jquery-ui.min.js"></script>
<script src="/static/js/libs/bootstrap.min.js"></script>

<!-- Style CSS -->
<link href="/static/css/bootstrap.css" media="screen" rel="stylesheet">
<link href="/static/css/style.css" media="screen" rel="stylesheet">

<!-- scripts -->
<script src="/static/js/general.js"></script>

<!-- custom input -->
<script src="/static/js/jquery.customInput.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>
<!-- Placeholders -->
<script type="text/javascript" src="/static/js/jquery.powerful-placeholder.min.js"></script>
<!-- Progress Bars -->
<script src="/static/js/progressbar.js"></script>
<!-- Calendar -->
<link href="/static/css/jquery-ui-1.8.20.custom.css" rel="stylesheet">
<script src="/static/js/jquery-ui.multidatespicker.js"></script>
<!-- range sliders -->
<script src="/static/js/jquery.slider.bundle.js"></script>
<script src="/static/js/jquery.slider.js"></script>
<link rel="stylesheet" href="/static/css/jslider.css">
<!-- Video Player -->
<link href="/static/css/video-js.css" rel="stylesheet">
<script src="/static/js/video.js"></script>
<!-- Audio Player -->
<link href="/static/css/jplayer.css" rel="stylesheet">
<script src="/static/js/jquery.jplayer.min.js"></script>
<script src="/static/js/jplayer.playlist.min.js"></script>

<!-- Scroll Bars -->
<script src="/static/js/jquery.mousewheel.js"></script>
<script src="/static/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript">
	jQuery(function()
	{
		jQuery('.scrollbar').jScrollPane({
			verticalDragMaxHeight: 9,
			verticalDragMinHeight:9
		});

		jQuery('.scrollbar.scrollbar-yellow').jScrollPane({
			verticalDragMaxHeight: 20,
			verticalDragMinHeight:20
		});

		jQuery('.scrollbar.scrollbar-red').jScrollPane({
			verticalDragMaxHeight: 5,
			verticalDragMinHeight:5
		});

		jQuery('.scrollbar.scrollbar-blue').jScrollPane({
			verticalDragMaxHeight: 50,
			verticalDragMinHeight:50
		});
	});
</script>

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>

<a href="https://github.com/Lab41/try41"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>

<div class="container container-wide">

<!-- content -->
<div class="content " role="main">

<div><p><img src="/static/images/l41/try41_logo_300px.png" alt="try41" id="try41_logo"/></p>
     <p style="font-size:15px; color:#444">Try41 is a <a href="https://www.lab41.org" style="outline: none;color: #191f47;font-weight: bold;">Lab41</a> demonstration site. Use the panel below to learn more about Lab41 or to try out three of our projects.</p>
</div>

<div class="col-sm-13">

<!-- Tabs -->
<div class="tabs_framed styled">
<div class="pricing_box">
    <ul class="clearfix">
        <a href="#lab41" data-toggle="tab">
        <li class="price_col price_col_yellow" id="lab41-tab">
            <!--pricing item-->
            <div class="price_item boxed" style="height:259px" id="lab41-box">
                <div class="price_col_head">
                    <span class="price"><sup>Lab41</sup></span>
                </div>
                <div style="margin-top:20px;"><img src="/static/images/l41/logo_160x160_grey.png" alt="lab41" id="l41_logo"/></div>
            </div>
            <!--/ pricing-item -->
        </li>
        </a>
        <a href="#dendrite" data-toggle="tab">
        <li class="price_col price_col_gray" id="dendrite-tab">
            <!--pricing item-->
            <div class="price_item boxed">
                <div class="price_col_head">
                    <span class="price"><sup>DENDRITE</sup></span>
                </div>
                <div class="price_col_body clearfix">
                    <div class="price_body_inner">
                        <div class="price_body_top">
                            <span>Collaborate</span>
                            <strong>Graphs</strong>
                            <div class="line"></div>
                        </div>
                        <ul>
                            <li>Titan &amp; GraphLab</li>
                            <li>AngularJS</li>
                            <li>Spring Framework</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ pricing-item -->
        </li>
        </a>

        <a href="#redwood" data-toggle="tab">
        <li class="price_col price_col_gray" id="redwood-tab">
            <div class="price_item boxed">
                <div class="price_col_head">
                    <span class="price"><sup>REDWOOD</sup></span>
                </div>
                <div class="price_col_body clearfix">
                    <div class="price_body_inner">
                        <div class="price_body_top">
                            <span>Find</span>
                            <strong>Anomalies</strong>
                            <div class="line"></div>
                        </div>
                        <ul>
                            <li>Python Library</li>
                            <li>SciPy</li>
                            <li>NumPy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        </a>

        <a href="#hemlock" data-toggle="tab">
        <li class="price_col price_col_gray" id="hemlock-tab">
            <div class="price_item boxed">
                <div class="price_col_head">
                    <span class="price"><sup>HEMLOCK</sup></span>
                </div>
                <div class="price_col_body clearfix">
                    <div class="price_body_inner">
                        <div class="price_body_top">
                            <span>Explore</span>
                            <strong>Metadata</strong>
                            <div class="line"></div>
                        </div>
                        <ul>
                            <li>CLI and RESTful API</li>
                            <li>ElasticSearch</li>
                            <li>Kibana</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        </a>
    </ul>
</div>
<!--/pricing box-->
    <div class="tab-content boxed clearfix" style="top: -48px; z-index:200" id="tab-content">
        <div class="tab-pane fade" id="lab41">
            <div class="inner clearfix">
                <div class="tab-text">
                    <div class="comment-entry">
                        <p>Lab41 is a unique initiative operating under the broader <a href="https://www.iqt.org/">In-Q-Tel</a> umbrella. This unclassified, collaborative environment is home to a rotating cast of data scientists, engineers, and innovative thinkers who are re-imagining ways to manage, understand, and visualize the expanding universe of data. Lab41 challenge teams are committed to working collaboratively to build proof-of-concepts, and to deliver findings within 3 to 12 months.</p>
                        <p>Challenge teams operate within the time-frame and scope outlined by the Technical Advisory Board, which includes representatives from each of Lab41′s participant groups: government, industry, academia and IQT. Results will vary from challenge to challenge, but outputs may include anything from working demonstrations, to delivery of open source code and technical white papers.</p>
                        <p><a href="https://www.lab41.org">Learn more.</a></p>
                        <p><img src="/static/images/l41/lifecycle.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="dendrite">
            <div class="inner clearfix">
                <div class="tab_image pull-left"><img src="/static/images/l41/dendrite-logo.png" alt=""><sub>D3.js <a href="http://bl.ocks.org/mbostock/1062288">example</a> by Mike Bostock</sub></div>
                <div class="price_col_foot sign_up pull-left well"><h2 style="margin-left: 10px; margin-right:10px;"><a href="#"> Challenge: Dendrite</a>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;<a id="button" class="btn btn-blue"><span>Try Now</span></a></h2>
                </div>
                <div class="tab-text">
                    <p>People. Places. Things. Graphs.
                       <br ><br />
It turns out that much of the world, both physical and virtual, can be represented as a graph. Graphs describe things that are linked together such as web pages and human societies. Like many other topics, Web technologies can make these types of powerful mathematical concepts more accessible to everyday users. Dendrite is a Lab41 exploration of ways to analyze, manipulate, version, and share extremely large graphs:
                       <ul>
                         <li>The Web frontend leverages AngularJS to provide a responsive data-driven experience</li>
                         <li>The UI interacts with a backend instance of the Titan Distributed Graph Database</li>
                       </ul>
                    </p>
                </div>
            </div>
            <div class="bottom clearfix">
                <div class="tagcloud pull-right">
                    <a href="#" class="tag-link-1" title="2 topics"><span>Graph Databases</span></a>
                    <a href="#" class="tag-link-2" title="3 topics"><span>Graph Computation</span></a>
                </div>
                <h3>Status:</h3>
                <p>
                    <a href="https://travis-ci.org/Lab41/Dendrite" alt="Build Status"><img src="https://travis-ci.org/Lab41/Dendrite.png?branch=master" alt="Build Status"></a>
                    <a href="https://coveralls.io/r/Lab41/Dendrite" alt="Coverage Status"><img src="https://coveralls.io/repos/Lab41/Dendrite/badge.png" alt="Coverage Status"></a>
                    <br />
                    <iframe src="http://ghbtns.com/github-btn.html?user=erickt&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
                    <br />
                    <iframe src="http://ghbtns.com/github-btn.html?user=Lab41&repo=Dendrite&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                    <br />
                    <iframe src="http://ghbtns.com/github-btn.html?user=Lab41&repo=Dendrite&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                </p>
            </div>
        </div>
        <div class="tab-pane fade" id="redwood">
            <div class="inner clearfix">
                <div class="tab_image pull-left" style="height:500px"><img src="/static/images/l41/redwood/logo/redwood_logo.png" alt=""></div>
                <div class="price_col_foot sign_up pull-left well"><h2 style="margin-left: 10px; margin-right:10px;"><a href="#"> Challenge: Redwood</a>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<a id="button2" class="btn btn-red"><span>Try Now</span></a></h2>
                </div>
                <div class="tab-text"><p>Redwood is a Python framework intended to identify anomalous files through analyzing the file metadata of a collection of media. <a href="http://lab41.github.io/Redwood/">Learn more.</a> <br /><br /> Each file analyzed is assigned a score that signals its reputation relative to other files in the system --the lower a reputation score, the more likely that a file is anomalous. The final reputation score of a given file is based on an aggegation of scores assigned to it by modules that we call "Filters".
                <br /><br />
A Filter is a plugin whose functionality is only limited by the creativity of the developer. Redwood can support any number of Filters, so long as a Filter extends the RedwoodFilter class and produces a table assigning a reputation score to each unique file in the system. Much of the Redwood framework is aimed at making the process of adding new Filters to the system as frictionless as possible (see the Filter section below for more information).
                <br /><br />
In addition to the Filters, Redwood also provides an effective data model for analyzing and storing file metadata, an API for interacting with that data, a simple shell for executing Redwood commands, and two example Filters (a "prevalence" Filter and a "locality uniqueness" Filter. Though sample Filters are included in the project, ultimately the effectiveness of Redwood will be based on the Filters that you write for the particular anomaly that you are looking for. To that end, Redwood is nothing more than a simple framework for connecting Filters to a well-formed data model.</p></div>
            </div>
            <div class="bottom clearfix">
                <div class="tagcloud pull-right">
                    <a href="#" class="tag-link-1" title="2 topics"><span>Anomaly Detection</span></a>
                    <a href="#" class="tag-link-2" title="3 topics"><span>Clustering</span></a>
                    <a href="#" class="tag-link-3" title="5 topics"><span>Machine Learning</span></a>
                </div>
                <h3>Status:</h3>
                <p>
                    <iframe src="http://ghbtns.com/github-btn.html?user=Lab41PaulM&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
                    <br />
                    <iframe src="http://ghbtns.com/github-btn.html?user=Lab41&repo=Redwood&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                    <br />
                    <iframe src="http://ghbtns.com/github-btn.html?user=Lab41&repo=Redwood&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                </p>
            </div>
        </div>
        <div class="tab-pane fade" id="hemlock">
            <div class="inner clearfix">
                <div class="tab_image pull-left"><img src="/static/images/l41/hemlock-square.png" alt=""></div>
                <div class="price_col_foot sign_up pull-left well"><h2 style="margin-left: 10px; margin-right:10px;"><a href="#"> Experiment: Hemlock</a>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<a id="button3" class="btn btn-green"><span>Try Now</span></a></h2>
                </div>
                <div class="tab-text"><p>Hemlock is a way of providing a common data access layer. <a href="http://lab41.github.io/Hemlock/">Learn more.</a> <br /><br /> Hemlock is an open-source project exploring ways to create a common data access layer that eliminates the need to understand underlying data topologies but still preserving the requirements of each data source such as access control, performance, and formats.<img src="https://raw.github.com/Lab41/Hemlock/master/docs/images/overview_hemlock.png" alt="" width="500px"></p></div>
            </div>
            <div class="bottom clearfix">
                <div class="tagcloud pull-right">
                    <a href="#" class="tag-link-1" title="2 topics"><span>Metadata</span></a>
                    <a href="#" class="tag-link-2" title="3 topics"><span>NoSQL</span></a>
                    <a href="#" class="tag-link-3" title="5 topics"><span>Distributed</span></a>
                    <a href="#" class="tag-link-4" title="8 topics"><span>Heterogeneous</span></a>
                    <a href="#" class="tag-link-5" title="9 topics"><span>Cache</span></a>
                    <a href="#" class="tag-link-6" title="3 topics"><span>Aggregator</span></a>
                    <a href="#" class="tag-link-7" title="4 topics"><span>Database Abstraction</span></a>
                </div>
                <h3>Status:</h3>
                <p>
                    <a href="http://badge.fury.io/py/hemlock" alt="PyPI Version"><img src="https://badge.fury.io/py/hemlock.png" alt="PyPI Version"></a>
                    <a href="https://travis-ci.org/Lab41/Hemlock" alt="Build Status"><img src="https://travis-ci.org/Lab41/Hemlock.png?branch=master" alt="Build Status"></a><br />
                    <a href="http://crate.io/packages/hemlock/" alt="Downloads"><img src="https://pypip.in/d/hemlock/badge.png" alt="Downloads"></a>
                    <a href="https://coveralls.io/r/Lab41/Hemlock?branch=master" alt="Coverage Status"><img src="https://coveralls.io/repos/Lab41/Hemlock/badge.png?branch=master" alt="Coverage Status"></a>
                    <br />
                    <iframe src="http://ghbtns.com/github-btn.html?user=cglewis&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
                    <br />
                    <iframe src="http://ghbtns.com/github-btn.html?user=Lab41&repo=Hemlock&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                    <br />
                    <iframe src="http://ghbtns.com/github-btn.html?user=Lab41&repo=Hemlock&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                </p>
            </div>
        </div>
    </div>
</div>
<!--/ Tabs -->

</div>


<footer id="footer" role="contentinfo">

            <div id="footer-container" class="resp-bounds" style="color:#fff">

                <div class="cpad-40">

                    <div class="column-25">

<ul style="color:#fff">
<li style="align:left">&#169; 2014 In-Q-Tel. All rights reserved.</li>
<li> <a href="http://www.lab41.org/terms-of-use/">Terms of Use</a></li>
<li><a href="http://www.lab41.org/privacy-policy/">Privacy Policy</a></li>
</ul></p></div>                    </div>

                    <div class="clear"></div>

                </div>

            </div>

</footer>

</div>
<!--/ row -->

</div>
<!--/ content -->

</div>
<!--/ container -->

</body>
        <script type="text/javascript">
            $("#tab-content").hide();
            $("#dendrite-tab").click(function() {
                $("#dendrite-tab").addClass("col_active");
                $("#redwood-tab").removeClass("col_active");
                $("#hemlock-tab").removeClass("col_active");
                $("#lab41-tab").removeClass("col_active");
                $("#dendrite-tab").addClass("price_col_blue");
                $("#redwood-tab").removeClass("price_col_red");
                $("#hemlock-tab").removeClass("price_col_green");
                $("#dendrite-tab").removeClass("price_col_gray");
                $("#redwood-tab").addClass("price_col_gray");
                $("#hemlock-tab").addClass("price_col_gray");
                $("#l41_logo").attr("src", "/static/images/l41/logo_160x160_grey.png");
                $("#lab41-box").height("259px");
                $("#tab-content").show();
            });
            $("#redwood-tab").click(function() {
                $("#dendrite-tab").removeClass("col_active");
                $("#redwood-tab").addClass("col_active");
                $("#hemlock-tab").removeClass("col_active");
                $("#lab41-tab").removeClass("col_active");
                $("#dendrite-tab").removeClass("price_col_blue");
                $("#redwood-tab").addClass("price_col_red");
                $("#hemlock-tab").removeClass("price_col_green");
                $("#dendrite-tab").addClass("price_col_gray");
                $("#redwood-tab").removeClass("price_col_gray");
                $("#hemlock-tab").addClass("price_col_gray");
                $("#l41_logo").attr("src", "/static/images/l41/logo_160x160_grey.png");
                $("#lab41-box").height("259px");
                $("#tab-content").show();
            });
            $("#hemlock-tab").click(function() {
                $("#dendrite-tab").removeClass("col_active");
                $("#redwood-tab").removeClass("col_active");
                $("#hemlock-tab").addClass("col_active");
                $("#lab41-tab").removeClass("col_active");
                $("#dendrite-tab").removeClass("price_col_blue");
                $("#redwood-tab").removeClass("price_col_red");
                $("#hemlock-tab").addClass("price_col_green");
                $("#dendrite-tab").addClass("price_col_gray");
                $("#redwood-tab").addClass("price_col_gray");
                $("#hemlock-tab").removeClass("price_col_gray");
                $("#l41_logo").attr("src", "/static/images/l41/logo_160x160_grey.png");
                $("#lab41-box").height("259px");
                $("#tab-content").show();
            });
            $("#lab41-tab").click(function() {
                $("#dendrite-tab").removeClass("col_active");
                $("#redwood-tab").removeClass("col_active");
                $("#hemlock-tab").removeClass("col_active");
                $("#lab41-tab").addClass("col_active");
                $("#dendrite-tab").removeClass("price_col_blue");
                $("#redwood-tab").removeClass("price_col_red");
                $("#hemlock-tab").removeClass("price_col_green");
                $("#dendrite-tab").addClass("price_col_gray");
                $("#redwood-tab").addClass("price_col_gray");
                $("#hemlock-tab").addClass("price_col_gray");
                $("#l41_logo").attr("src", "/static/images/l41/logo_160x160_color.png");
                $("#lab41-box").height("277px");
                $("#tab-content").show();
            });
            $("#button").click(function() {
                $.ajax({
                    url: '/new',
                    type: 'POST',
                    dataType: 'json'
                    }).done(function(response) {
                        console.log(response);
                        window.location = build_url(response);
                    });
                });

            function build_url(response) {
                pathArray = window.location.href.split( '/' );
                protocol = pathArray[0];
                host = pathArray[2];
                url = protocol + '//' + host + "/details/" + response.url;
                return url;
            }
            $("#button2").click(function() {
                $.ajax({
                    url: '/new2',
                    type: 'POST',
                    dataType: 'json'
                    }).done(function(response) {
                        console.log(response);
                        window.location = build_url2(response);
                    });
                });

            function build_url2(response) {
                pathArray = window.location.href.split( '/' );
                protocol = pathArray[0];
                host = pathArray[2];
                url = protocol + '//' + host + "/details2/" + response.url;
                return url;
            }
            $("#button3").click(function() {
                $.ajax({
                    url: '/new3',
                    type: 'POST',
                    dataType: 'json'
                    }).done(function(response) {
                        console.log(response);
                        window.location = build_url3(response);
                    });
                });

            function build_url3(response) {
                pathArray = window.location.href.split( '/' );
                protocol = pathArray[0];
                host = pathArray[2];
                url = protocol + '//' + host + "/details3/" + response.url;
                return url;
            }

        </script>
</html>
